<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ninjago</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

</head>
<body>
  <h1 class="title">NinjaGo</h1>
  <div id="homepage">
    <h3>Create a ninja in your area:</h3>
    <div id="ninjas">
        <form action="/api/ninjas" method="POST">
            Name: <input type="text" name="name" value="name"><br>
            Rank: <input type="text" name="rank" value="rank"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
  </div>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
</body>
</html>