<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ninjago</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

</head>
<body>
  <h1 class="title">NinjaGo - a REST api</h1>
  <div id="homepage">
    <h3>Create a ninja in your area:</h3>
    <div id="ninjas">
        <form action="/api/ninjas" method="POST">
            Name: <input type="text" name="name" value="name"><br>
            Rank: <input type="text" name="rank" value="rank"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
  </div>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

  <!-- <script type="text/babel">
    var Ninjas = React.createClass({
        getInitialState: function(){
            return({
                ninjas: []
            });
        },
        render: function(){
            var ninjas = this.state.ninjas;
            debugger;
            ninjas = ninjas.map(function(ninja, index){
                return(
                    <li key={index}>
                        <span className={ninja.obj.available}></span>
                        <span className="name">{ninja.obj.name}</span>
                        <span className="rank">{ninja.obj.rank}</span>
                        <span className="dist">{Math.floor(ninja.dis / 1000)} km</span>
                    </li>
                );
            });
            return(
                <div id="ninja-container">
                    <form id="search" onSubmit={this.handleSubmit}>
                        <label>Enter an ID:</label>
                        <input type="text" ref="id" placeholder="id" required />
                        <input type="submit" value="Find Ninjas" />
                    </form>
                    <ul>{ninjas}</ul>
                </div>
            );
        },
        handleSubmit: function(e){
            e.preventDefault();
            var id = this.refs.id.value;
            fetch('/api/ninjas/' + id).then(function(data){
                return data.json();
            }).then( json => {
                this.setState({
                    ninjas: json
                });
                console.log(json);
            });
        }
    });
    ReactDOM.render(<Ninjas />, document.getElementById('ninjas'));
    </script> -->
</body>
</html>