<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Waypoints</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
<header id="login-header">
  <h1 class="title"><img id="login-logo" class="login-logo-img" src="/images/logo.png"><span id="title login-title">Waypoints<span></h1>
</header>
  <div id="homepage" class="login-home">
    <h1>Waypoints App</h1>
      <div id="login-info">
        <p>Waypoints is a simple WebApp that allows users to create itineraries, routes, and waypoints for a multitude of different events.<br /><br />Whether you're a tourist planning out a day trip, a bike messenger mapping out your delivery schedule, or a dog walker planning your pet visits, Waypoints stores, displays, and allows for easy access and editing to a visual representation of your routes.</p>
      </div>
      <div id="log-content">
        <img id="login-shot" src="/images/screenshot.png">
        <ul id="log-list-ul">
          <li class="log-list">Visual representation of current location</li>
          <li class="log-list">Create and save multiple routes</li>
          <li class="log-list">Add, delete and edit current waypoint route</li>
          <li class="log-list">Plan your trips weeks in advance</li>
        </ul>
      </div>
    <div id="login-button-div">
      <h3 style="display: inline-block;">Login via: <a id="login-button" href="/auth/google">Google+</a></h3>
    </div>
  </div>
</div>
</body>
</html>