<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ninjago</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

</head>
<body>
<div>
  </div>
  <h1 class="title">NinjaGo</h1>
  <div id="homepage">
    <h3>Edit User:</h3>
    <div id="current-ninja">
    </div>
    <div id="ninjas">
    </div>
  </div>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
</body>
</html>