<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Waypoints</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
  <header>
  <h1 class="title"><img id="login-logo" src="/images/logo.png"><span id="title">Waypoints<span></h1>
  <nav>
    <ul>
    <a href="/profile"><li class="nav-li">Profile</li></a>
    <a href="/create"><li class="nav-li">Create WP</li></a>
    <a href="/auth/logout"><li class="nav-li">Logout</li></a>
    </ul>
  </nav>
  </header> 
  <div style="text-align: left;" id="homepage">
    <h3 id="saved-h3">Saved routes for: <%= user.username %></h3>
    <br />
    <br />
      <% user.routes.forEach((route, index) => {%>
          <form id="delete-form" action="/profile/delete" method="POST">
            <input type="hidden" name="index" value=<%=index%>>
            <input id="delete-button-resize" type="submit" value='Delete'>
          </form>
        <a href="./../waypoints/<%=index%>"><input id="delete-button-resize" type="submit" value="View"></a>
        <h4 style="display: inline-block;" class="wayp-group" style="display: inline;">Waypoint Group <%=index + 1%><br /></h4>
      <br />
      <% }) %>
    </div>
  </div>
</body>
</html>