body {
  font-family: 'Pontano Sans', sans-serif;
  color: #555;
  background: #ff5252;
}

#delete-button-resize {
  margin-bottom: 0.5vw;
}

.wayp-group {
  margin-top: -2vw;
  display: inline-block;
  padding: 0.2vw;
}

.wayp-names {
  margin: 0 0 -1vw 13vw;
}

.wayp-names>p {
  position: relative;
  bottom: 0.5vw;
}

.container {
  display: flex;
}

#crud-button {
  font-size: 1vw;
  padding: 0.5vw;
  margin-top: 0.2vw;
  width: 4vw;
}

a {
  color: #555;
  text-decoration: none;
}

#login-button-div {
  margin-top: 4vw;
  text-align: right;
}

#profile-button-div {
  margin-top: 10vw;
  margin-left: -1vw;
}

#log-content{
  display: flex;
}

#log-list-ul{
  margin-top: 1vw;
}

.log-list{
  list-style-type: circle;
  background-color: #fff;
  margin-left: 6vw;
  font-size: 1.2vw;
}

#login-shot {
  display: inline-block;
  border: 0.15vw solid #ff5252;
  border-radius: 0.5vw;
  height: 20vw;
  width: 38vw;
  float: left;
}

header {
  height: 8vw;
  text-align: center;
  margin-top: -3vw;
  margin-bottom: 2.5vw;
}

#map {
  height: 22vw;
  padding: 0;
  margin: 0;
  grid-column: 2;
  border: 2px #ff5252 solid;
  border-radius: 0.2vw;
  text-align: center;
}

.title {
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 5vw;
  margin-bottom: 0vw;
}

#title{
  position: relative;
  left: 2vw;
  bottom: 0.1vw;
}

#login-info{
  color: black;
  text-align: justify;
}

#login-info>p{
  font-size: 1vw;
}

.waypoint-info{
  font-size: 1.25vw;
}

#waypoint-alpha{
  margin-right: 0vw;
  text-transform: uppercase;
  font-weight: bold;
}

#login-logo {
  border: 0.44vw solid #fff;
  border-radius: 0.5vw;
  height: 5vw;
  margin-left: 1vw;
}

#floating-panel {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  line-height: 30px;
  padding-left: 10px;
}

#homepage {
  width: 80vw;
  height: 38vw;
  margin: 1vw auto 0 auto;
  padding: 1.5vw 2vw;
  background: #fdfdfd;
  border-radius: 0.3vw;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  overflow: scroll;
}

h6{
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;}
h4 {
  margin: 0;
  margin-left: 1vw;}
#current-map {
  background-color: #ff5252;
  border-radius: 0.2vw;
  height: 19vw;
  margin-bottom: 0.5vw;
}

.box {
  width: 40vw;
}

#box-left > div {
  margin-bottom: -2vw;}
h3 {
  display: inline;}
#login-button{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  background: #ff5252;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);}
.form-crud{
  padding-right: 3vw;
  position: relative;
  bottom: 2.2vw;
  text-align: right;}
.move-forms{
  margin: 0.2vw 0.1vw 0.2vw 0.1vw;
  display: inline-block;}
input[type="text"]{
  display: inline;
  padding: 1vw;
  width: 30vw;
  border-radius: 0.5vw;
  border: 1px solid #ddd;}
label{
  font-weight: bold;}
#homepage h1{
  text-align: center;
}

#delete-form {
  margin-left: 4vw;
  margin-bottom: 0.2vw;
  display: inline-block;
}

input[type="submit"]{
  background: #555;
  display: inline-block;
  color: #fff;
  border: 0;
  padding: 0.4vw;
  font-size: 1.4vw;
  width: 10vw;
  cursor: pointer;
  border-radius: 0.3vw;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  padding: 15px 0;
  background: #eee;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 4px;}
nav {
  position: relative;
  display: inline-block;
  bottom: 1vw;
  margin-left: 1vw;}
.nav-li{
  background-color: #fff;
  margin-right: 1vw;
  padding:  0.6vw 0.8vw;
  display: inline;}
span{
  display: inline-block;
  margin: 0 20px;
}
span.dist{
  color: green;
  float: right;
}
span.true{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: green;
}
span.false{
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #ff5252;
}
button{
  margin-left: 1vw;
  font-size: 1.2vw;
  background: #555;
  height: 2.5vw;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
button.false{display: none;}

@media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {
  #homepage {
    width: 94vw;
    height: 124vw;
    text-align: center;
    margin-top: 10vw;
  }

  h3 {
    font-size: 4vw;
  }

  h6 {
    font-size: 2vw;
  }

  form {
    font-size: 3vw;
  }

  #title {
    display: none;
  }

  #login-logo {
    height: 12.5vw;
    position: relative;
    left: 11vw;
    margin-right: 55vw;
    margin-left: -10vw;
  }


  #login-info>p {
    font-size: 3vw;
    padding: 0 2vw;
  }

  #log-content {
    display: block;
  }

  #log-content>img {
    width: 83.5vw;
    height: 70vw;
    margin-left: 4.3vw;
    margin-bottom: 20vw;
    border: 0.5vw solid #ff5252;
  }

  #log-list-ul {
    display: none;
  }

  footer {
    height: 10vw;
    width: 94vw;
  }

  .footer>p {
    font-size: 3vw;
  }

  nav {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  #delete-button-resize {
    font-size: 2vw;
    position: relative;
    bottom: 1vw;
    height: 5vw;
    width: 15vw;
  }

  .container {
    display: block;
  }

  #box-1 {
    width: 80vw;
    margin-bottom: 10vw;
  }

  #box-2 {
    width: 94vw;
  }

  input[type = "text"] {
    width: 70vw;
    margin-left: 0.2vw;
  }

  input[type = "submit"] {
    font-size: 3vw;
    width: 40vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
    height: 8vw;
  }

  #current-map {
    height: 60vw;
  }

  #geolocation-button {
    margin-top: 4vw;
  }

  h4 {
    margin-right: 4.5vw;
    font-size: 3.2vw;
  }

  #profile-button {
    width: 20vw;
    height: 8vw;
    font-size: 3vw;
  }

  #map {
    height: 70vw;
  }

  #box-left {
    width: 94vw;
    font-size: 3vw;
  }

  #box-right {
    width: 94vw;
    text-align: center;
  }

  #add-loc {
    margin-top: 6vw;
    margin-left: 4vw;
  }

  #waypoint-alpha {
    font-size: 3vw;
  }

  .waypoint-info {
    font-size: 4vw;
  }

  .form-crud {
    padding-left: 1vw;
    text-align: center;
    bottom: 7vw;
  }

  .move-forms {
    margin: 0;
  }

  #crud-button {
    position: relative;
    top: 8.5vw;
    width: 10vw;
    font-size: 3vw;
  }

  .box>form {
    width: 94vw;
  }

  #custom-way {
    margin-left: 14vw;
  }

  header>h1 {
    margin-right: 5vw;
  }

  /* #delete-form {
    margin-left: 10vw;
  } */

  #saved-h3 {
    margin-left: 18vw;
  }

  .wayp-group>h4 {
    margin-bottom: 4vw;
  }

  .waypoint-info {
    margin-right: 4vw;
  }
}

@media only screen and (min-device-width : 200px) and (max-device-width : 480px) {

  #homepage {
    margin: 0;
    margin-top: 12vw;
    width: 100vw;
    height: 130vw;
    padding: 0;
  }

  #map {
    margin: 0;
    margin-top: 2vw;
    width: 98vw;
    height: 60vw;
  }

  footer>p {
    font-size: 0.5vw;
  }

  body {
    padding: 0;
    margin: 0;
  }

  #current-map {
    width: 92vw;
  }

  footer {
    width: 96vw;
  }
}
